<div class="row">
  <div class="container my-3">
    <div class="row">
      <div class="col-3">
        <h5 class="text-muted">服务介绍</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">婚车租赁</a></li>
          <li><a class="text-muted" href="#">婚纱礼服</a></li>
          <li><a class="text-muted" href="#">新娘跟妆</a></li>
          <li><a class="text-muted" href="#">司仪聘请</a></li>
          <li><a class="text-muted" href="#">伴娘租赁</a></li>
          <li><a class="text-muted" href="#">婚礼跟拍</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5 class="text-muted">美图集</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">个人写真</a></li>
          <li><a class="text-muted" href="#">婚纱摄影</a></li>
          <li><a class="text-muted" href="#">写真摄影</a></li>
          <li><a class="text-muted" href="#">儿童摄影</a></li>
          <li><a class="text-muted" href="#">化妆造型</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5 class="text-muted">量身定制</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">关于定制</a></li>
          <li><a class="text-muted" href="#">量体参考</a></li>
          <li><a class="text-muted" href="#">常见问题</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h5 class="text-muted">网站地图</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">招聘信息</a></li>
          <li><a class="text-muted" href="#">业务介绍</a></li>
          <li><a class="text-muted" href="#">商务合作</a></li>
          <li><a class="text-muted" href="#">团队介绍</a></li>
          <li><a class="text-muted" href="admin/login.html">后台登录</a></li>
        </ul>
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <p class="text-center text-muted">2018&copy;巴黎经典摄影机构   京ICP备15053799号</p>
        <p class="text-center text-muted">地址：山东省菏泽市东明县万盈国际商务中心a座404-501室 邮政编码：274500</p>
        <p class="text-center text-muted">本网站由<a class="text-muted" href="www.huanlutimes.com">欢鹿时代科技有限公司</a>开发维护.</p>
      </div>
    </div>
  </div>
</div>
