<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">
  <title>巴黎经典-爱情旅拍MV</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/index.css" rel="stylesheet">
</head>
<body>
<header id="header" class="bg-white fixed-top">
</header>

<main id="main" class="container-fluid">
  <!-- 商品列表 -->
  
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <!-- 卡片 -->
          <div class="card my-2">
            <div class="card-header font-weight-bold">
              <!-- 分享 -->
              <ul class="nav list-group">
                <li class="font-weight-bold my-1">
                  <ul class="nav ">
                    <li class="mr-1"><a class="btn btn-danger" href="#">分享到:</a></li>
                    <li class="mr-1"><a class="btn" href="#">qq</a></li>
                    <li class="mr-1"><a class="btn" href="#">微信</a></li>
                    <li class="mr-1"><a class="btn" href="#">微博</a></li>
                    <li class="mr-1"><a class="btn" href="#">朋友圈</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- 视频 -->
            <div class="card-body">
              <video class="col-md-12" src="video/20180901.mp4" controls="" preload="metadata" id="v2">
                  您的浏览器版本太低，请升级！
              </video>
            </div>
            <!-- 推荐 -->
            <div class="card-footer text-muted p-2">
              <ul class="nav">
                <li><a class="btn" href="#">最新发布</a></li>
                <li><a class="btn" href="#">观看最高</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nam voluptatem impedit excepturi perspiciatis illo officia dignissimos fugit commodi maiores. Nihil, quas ducimus non est magni laudantium assumenda reprehenderit? Cum.</div>
      
    </div>
  </div>
  

</main>

<!-- 底部 -->
<footer id="footer" class="container-fluid">

</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/vendor/holder.min.js"></script> -->
<script src="js/ajax.js"></script>
<script src="js/vue.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>
<script src="js/index.js"></script>

  </body>
</html>
