<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">
  <title>巴黎经典-首页</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/index.css" rel="stylesheet">
</head>
<body>
<header id="header" class="bg-white fixed-top">
</header>

<main id="main" class="container-fluid p-0">

  <!-- 商品详情 -->
  <div class="container ">
    <!-- 商品信息 -->
    <div class="row pt-3">
      <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading">法国巴黎团购套系</h2>
        <h4 class="text-muted">普吉岛双人跟拍摄影，下单就送旅...</h4>
        <h5>现价:
            <span class="text-primary mr-5">￥2999</span> 原价:<span><s>￥3999</s></span></h5>
        <h5>客服:
          <a class="btn text-dark" href="#">联系客服<span class=""><img src="img/kefu.gif" alt=""></span></a>
        </h5>
        <h5 >规格: 
          <a class="btn btn-sm btn-outline-primary my-1" href="#">套餐一</a>
          <a class="btn btn-sm btn-outline-primary my-1" href="#">套餐二</a>
          <a class="btn btn-sm btn-outline-primary my-1" href="#">套餐二</a>
          <a class="btn btn-sm btn-outline-primary my-1" href="#">套餐二</a>
          <a class="btn btn-sm btn-outline-primary my-1" href="#">套餐二</a>
          <a class="btn btn-sm btn-outline-primary my-1" href="#">套餐二</a>
        </h5>
        <p>
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">-</button>
                </span>
                <input type="text" class="form-control" placeholder="2">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">+</button>
                </span>
              </div>
          </p>
        
        <p><a href="#" class="btn btn-danger mr-5">立即购买</a><a href="#" class="btn btn-primary">加入购物车</a></p>
      </div>
      <div class="col-md-6 order-md-1 border p-0">
        <img class="featurette-image img-fluid mx-auto" src="img/photos/1/2212119.jpg">
        
      </div>
    </div>
    <!-- 为你推荐 -->
    <div class="row pt-3">
      <div class="col-md-12 border-top border-bottom py-3">
        <h3 class="text-danger">为你推荐</h3>
        <div class="row">
          <div class="col-lg-3">
            <div class="card  p-0 m-0">
              <div class="card-header p-0 m-0">
                <a href="product-details.html?lid=1"><img src="img/photos/1/2212119.jpg" alt="商品图片" class="card-img"></a>
              </div> 
              <div class="card-body text-center"><h4>法国巴黎团购套系</h4></div> 
              <div class="card-footer m-0">
                <h5 class="text-muted">已有 <span class="text-danger">214</span>对新人关注 </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card  p-0 m-0">
              <div class="card-header p-0 m-0">
                <a href="product-details.html?lid=1"><img src="img/photos/2/2206035.jpg" alt="商品图片" class="card-img"></a>
              </div> 
              <div class="card-body text-center"><h4>法国巴黎团购套系</h4></div> 
              <div class="card-footer m-0">
                <h5 class="text-muted">已有 <span class="text-danger">214</span>对新人关注 </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card p-0 m-0">
              <div class="card-header p-0 m-0">
                <a href="product-details.html?lid=1"><img src="img/photos/2/2206035.jpg" alt="商品图片" class="card-img"></a>
              </div> 
              <div class="card-body text-center"><h4>法国巴黎团购套系</h4></div> 
              <div class="card-footer m-0">
                <h5 class="text-muted">已有 <span class="text-danger">214</span>对新人关注 </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card p-0 m-0">
              <div class="card-header p-0 m-0">
                <a href="product-details.html?lid=1"><img src="img/photos/3/2206547.jpg" alt="商品图片" class="card-img"></a>
              </div> 
              <div class="card-body text-center"><h4>法国巴黎团购套系</h4></div> 
              <div class="card-footer m-0">
                <h5 class="text-muted">已有 <span class="text-danger">214</span>对新人关注 </h5>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-9 p-0">
        <div class="border">
          <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#a">商品详情</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#b">商品评论</a></li>
          </ul>
          <!-- 选项卡对应的内容 -->
          <div class="tab-content">
              <div class="tab-pane active show" id="a">
                  <h5 class="text-align">商品介绍</h5>
                  <p class="text-align">普吉岛双人跟拍摄影，下单就送旅...</p>
                  <img class="featurette-image img-fluid mx-auto" src="img/photos/1/2212111.jpg">
                  <img class="featurette-image img-fluid mx-auto" src="img/photos/1/2212112.jpg">
                  <img class="featurette-image img-fluid mx-auto" src="img/photos/1/2212119.jpg">
              </div>
              <div class="tab-pane p-2" id="b">
                <div class="card d1 my-2">
                  <div class="card-header p-0">
                      <span class="pl-3">1楼</span>
                      <a href="message.html"><img id="msgimg" src="img/user.jpg" class="m-2 user-img"></a>
                      <a href="#">南山南</a><span class="pl-3">2018-1-1</span>
                  </div> 
                  <div class="card-body m-0 p-0">
                    <div class="media "> 
                      <div class="media-body p-3">真的很赞，专业度和服务态度等值的信赖。520举行的婚礼很成功，很感谢策划师和摄影师，以及巴黎经典团队</div>
                    </div>
                  </div>
                </div>
                <div class="card d1 my-2">
                  <div class="card-header p-0">
                      <span class="pl-3">2楼</span>
                      <a href="message.html"><img id="msgimg" src="img/user.jpg" class="m-2 user-img"></a>
                      <a href="#">南山南</a><span class="pl-3">2018-1-1</span>
                  </div> 
                  <div class="card-body m-0 p-0">
                    <div class="media "> 
                      <div class="media-body p-3">真的很赞，专业度和服务态度等值的信赖。520举行的婚礼很成功，很感谢策划师和摄影师，以及巴黎经典团队</div>
                    </div>
                  </div>
                </div>
                <div class="card d1 my-2">
                  <div class="card-header p-0">
                      <span class="pl-3">3楼</span>
                      <a href="message.html"><img id="msgimg" src="img/user.jpg" class="m-2 user-img"></a>
                      <a href="#">南山南</a><span class="pl-3">2018-1-1</span>
                  </div> 
                  <div class="card-body m-0 p-0">
                    <div class="media "> 
                      <div class="media-body p-3">真的很赞，专业度和服务态度等值的信赖。520举行的婚礼很成功，很感谢策划师和摄影师，以及巴黎经典团队</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">2</div>
    </div>
  </div>
</main>

<!-- 底部 -->
<footer id="footer" class="container-fluid">

</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/vendor/holder.min.js"></script> -->
<script src="js/ajax.js"></script>
<script src="js/vue.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>
<script src="js/index.js"></script>
<script src="js/pictures.js"></script>

  </body>
</html>
