<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">
  <title>巴黎经典-爱情旅拍MV</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/index.css" rel="stylesheet">
</head>
<body>
<header id="header" class="bg-white fixed-top">
</header>

<main id="main" class="container-fluid">
  <!-- 商品列表 -->
  <div class="row">
    <div class="container">
      <!-- 卡片 -->
      <div class="card my-2">
        <div class="card-header font-weight-bold">旅拍欣赏</div>
        <div class="card-body">
          <ul class="nav list-group">
            <li class="nav-tabs font-weight-bold my-1">
              <ul class="nav ">
                <li class="mr-1"><a class="btn btn-danger " href="#">全部</a></li>
                <li class="mr-1"><a class="btn btn-danger " href="#">搞怪</a></li>
                <li class="mr-1"><a class="btn" href="#">军旅</a></li>
                <li class="mr-1"><a class="btn" href="#">中国风</a></li>
                <li class="mr-1"><a class="btn" href="#">青春</a></li>
                <li class="mr-1"><a class="btn" href="#">轻奢</a></li>
                <li class="mr-1"><a class="btn" href="#">复古</a></li>
                <li class="mr-1"><a class="btn" href="#">轻奢</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted p-2">
          <ul class="nav">
            <li class=""><a class="btn btn-danger" href="#">默认排序</a></li>
            <li><a class="btn" href="#">最新发布</a></li>
            <li><a class="btn" href="#">观看最高</a></li>
            <li><a class="btn" href="#">评价最多</a></li>
          </ul>
        </div>
      </div>
      <!-- 商品列表 --> 
      <div class="row">  

      </div>
      <!-- 分页 -->
      <ul class="pagination justify-content-center my-3">
          <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">下一页</a></li>
      </ul>
    </div>
  </div>
  

</main>

<!-- 底部 -->
<footer id="footer" class="container-fluid">

</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/vendor/holder.min.js"></script> -->
<script src="js/ajax.js"></script>
<script src="js/vue.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>
<script src="js/index.js"></script>

  </body>
</html>
