<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">
  <title>巴黎经典-客照欣赏</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/index.css" rel="stylesheet">
</head>
<body>
<header id="header" class="bg-white fixed-top">
</header>
<main id="main" class="container-fluid bg-white">
  <div class="container">
    <div class="row">
      <div class="col-9 text-center border">
        <h1>听你说爱情的样子</h1>
        <h4>许先生&陈女士</h4>
        <img class="card-img-top my-2" src="img/photos/1/2212119.jpg" alt="Card image cap">
        <img class="card-img-top my-2" src="img/photos/1/2212111.jpg" alt="Card image cap">
        <img class="card-img-top my-2" src="img/photos/1/2212112.jpg" alt="Card image cap">
      </div>
      <div class="col-3">
        <h3 class="text-center">猜你喜欢</h3>
        <div class="card box-shadow">
          <a href="#"><img class="card-img-top" src="img/photos/2/2206035.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h3>浪漫巴黎</h3>
            <div class="d-flex  justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary">查看全部</a>
              </div>
              <small class="text-muted">5 张</small>
            </div>
          </div>
        </div>

      </div>
      
    </div>


  </div>
  
</main>

<!-- 底部 -->
<footer id="footer" class="container-fluid">
  
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/vendor/holder.min.js"></script> -->
<script src="js/ajax.js"></script>
<script src="js/vue.js"></script>
<script src="js/header.js"></script>
<script src="js/footer.js"></script>
<script src="js/index.js"></script>
<script src="js/pictures.js"></script>
  </body>
</html>
