<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/favicon.ico">
  <title>巴黎经典-后台管理系统</title>
  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="admin/css/admin.css" rel="stylesheet">
</head>
<body>
<header id="header" class="container-fluid bg-white fixed-top">
  <div class="row">
      <div class="container border">
          <div class="row border">
            <div class="col-md-2">2</div>
            <div class="col-md-2">7</div>
            <div class="col-md-2">3</div>
          </div>
  </div>

  </div>
</header>
<main id="main" class="container-fluid">
<div class="row">1</div>
</main>

<!-- 底部 -->
<footer id="footer" class="container-fluid">

</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
</script>
<!-- <script src="js/vendor/holder.min.js"></script> -->
<script src="js/ajax.js"></script>


  </body>
</html>
